{% extends 'blog/base.html' %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
    {% block content %}
        <div class="post">
            {% if post.published_date %}
                <div class="date">
                    {{ post.published_date }}
                </div>
            {% endif %}
            {% if user.is_authenticated %}
           
                <button class="edit-button">
                    <a href="{% url 'post_edit' pk=post.pk %}">
                        Edit Post<span class="glyphicon glyphicon-pencil" style=" padding-left: 5px;"></span>
                    </a>
                </button>
            {% endif %}
            <h2>{{ post.title }}</h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endblock %}
    </body>
</html>
