h1 a, h2 a {
     color: #0869fa;
     
 }

 body {
     padding-left: 15px;
     background-image: url("https://i.redd.it/wlmbenresej21.png");
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     padding-left: 15px;
 }

 .page-header {
     background-color: #d15f32;
     margin-top: 0;
     padding: 20px 20px 20px 40px;
 }
 
 .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
     color: #ffffff;
     font-size: 36pt;
     text-decoration: none;
 }
 
 .content {
     margin-left: 40px;

 }
 
 h1, h2, h3, h4 {
     font-family: "Lucida Console", "Courier New", monospace;
 }
 
 .date {
     color: #000000;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-style: oblique;
     font-weight: bold;
     border-bottom: black;
     border-bottom-style: solid;
     border-spacing: 5px;
     padding-bottom: 20px;
     
 }
 
 .save {
     float: right;
 }
 
 .post-form textarea, .post-form input {
     width: 100%;
 }
 
 .top-menu, .top-menu:hover, .top-menu:visited {
     color: #ffffff;
     float: right;
     font-size: 26pt;
     margin-right: 20px;
 }
 
 .post {
     margin-bottom: 15px;
     
 }

 .button {
     
 }

 .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
 
 .post h2 a, .post h2 a:visited {
     color: #000000;
     font-weight: bolder;
     font-family: monospace;
 }