h1 a, h2 a {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     
 }

 body {
     padding-left: 15px;
     background-image: url("https://wallpapercave.com/wp/wp4013129.jpg");
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     padding-left: 15px;
 }

 .page-header {
     background: linear-gradient(129deg, rgba(149,77,67,1) 0%, rgba(77,94,136,0) 100%);
     border-bottom: black;
     border-left-style: solid;
     border-left: black;
     margin-top: 0;
     padding: 20px 20px 20px 40px;
     padding-bottom: 40px;

    
     
 }
 
 .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
     color: #000000;
     font-size: 36pt;
     text-decoration: none;
     color: #e8e1db;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
 }
 
 .content {
     margin-left: 40px;

 }
 
 h1, h2, h3, h4 {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
 .date {
     color: #000000;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-style: oblique;
     font-weight: bold;
     border-bottom: black;
     border-bottom-style: solid;
     border-width: 2px;
     border-spacing: 5px;
     padding-left: 5px;
     
 }
 
 .edit-button {
    text-align: left;
    color: black;
    background-color:transparent;
    border: transparent; 
    font-weight: bold;
    font-size: larger;
}

 .save {
     float: right;
     text-align: left;
     color: black;
     background-color:transparent;
     border: transparent; 
     font-weight: bold;
     font-size: larger;
 }
 
 .post-form textarea, .post-form input {
     width: 100%;
     background: linear-gradient(129deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
     color: black;
     resize: none;
 }

 .apex-icon {
     background-image: url("{% static 'icons/icons8apex-legends-50.png'%}");
     height: 60px;
     width: 60px;
 }
 
 .top-menu, .top-menu:hover, .top-menu:visited {
     color: #ffffff;
     float: right;
     font-size: 26pt;
     margin-right: 20px;
 }

 .post {
     margin-bottom: 30px;
     color: black;
     border-left-style: solid;
     border-left-color: black;
 }

 .post-space {
     margin-left: 10px;
 }

 .edit-new-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }


 .post-title {
     padding-left: 10px;
 }
 
 .post h2 a, .post h2 a:visited {
     color: #000000;
     font-weight: bolder;
     font-family: monospace;
 }